language: php

php:
- 5.6
- 7.0
- 7.1
- 7.2
- 7.3

install:
- composer install

matrix:
  include:
  - php: 5.3
    dist: precise
  - php: 5.4
    dist: trusty
  - php: 5.5
    dist: trusty
  allow_failures:
  - php: 5.3
